<div class="wrapper dashboard-wrapper fullWidth" data-magellan dashboard-directive>
  <!-- Navigation -->
  <div id="navigation" class="fullWidth navigation">
    <div class="row show-for-small-only">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a><i class="fi-list-thumbnails"></i></a>
          <ul class="menu">
            <li><a ui-sref=".landing">Landing</a></li>
            <li><a ui-sref=".services">Services</a></li>
            <li><a ui-sref=".portfolio">Portfolio</a></li>
            <li><a ui-sref=".about">About</a></li>
            <li><a ui-sref=".skills">Skills</a></li>
            <li><a ui-sref=".experience">Experience</a></li>
            <li><a ui-sref=".contact">Contact</a></li>
            <li><a ui-sref=".cv">CV</a></li>
          </ul>
        </li>
        <li class="menu-text"><a href="" ui-sref="admin">DashBoard</a></li>
      </ul>
    </div>
    <!--To be shown only in large screen-->
    <div class="row hide-for-small-only">
      <ul class="menu">
        <li class="menu-text"><a href="" ui-sref="admin">DashBoard</a></li>
        <li><span ui-sref=".landing">Landing</span></li>
        <li><span ui-sref=".services">Services</span></li>
        <li><span ui-sref=".portfolio">Portfolio</span></li>
        <li><span ui-sref=".about">About</span></li>
        <li><span ui-sref=".skills">Skills</span></li>
        <li><span ui-sref=".experience">Experience</span></li>
        <li><span ui-sref=".contact">Contact</span></li>
        <li><span ui-sref=".cv">CV</span></li>
      </ul>
    </div>
  </div>
  <div ui-view></div>
</div>