/********************************************************************
GENERAL
********************************************************************/
/***********************Overwriting classes*************************/
.column, .columns{
	overflow: hidden;
}
a:hover, a:focus{
	text-decoration: none;
	color: #000;
}
.button{
	border-radius: 0px;
	border : 2px solid #000;
	background: transparent;
	color : #000;
}
.button:hover, .button:active{
	background: black;
	color : #fff;
}
@media (min-width:768px) {
	.row{
		max-width: 90vw;
	}
}
/*******************************************************************/
.hr-light{
	border-bottom: 2px solid #ffffff;
}
.wrapper{
	position: absolute;
	z-index: 2;
	overflow-x : hidden;
	-webkit-filter: blur(0); /* Chrome, Safari, Opera */
    filter: blur(0);
    transition: all 1000ms cubic-bezier(1, -0.4, 0.44, 0.985);
}
.blure{
	-webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.fullHeight {
	height: 100vh;
}
.halfHeight {
	height: 50vh;
}
.font-light{
	color : #fff;
}
.font-dark{
	color : #000;
}
.row-padding{
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
}
.column-padding{
	padding: 2px;
}
.text-bordered{
	border-top: 2px solid red;
	border-bottom: 2px solid red;
}
.display-inline{
	display: inline-flex;
}
.card{
	height: 260px;
}
@media (min-width:640px) {
	.card{
		height: 50vh;
	}
}
/********************************************************************
NAV
********************************************************************/
.toggle-menu {
	position: fixed;
	font-size: 4rem;
	z-index: 5000;
	color: #5f5f5f;
	top: -0.5rem;
	left: 1.5rem;
	transition: all 0.4s ease-in-out; }
.toggle-menu:hover {
	transition: all 0.4s ease-in-out;
	color: red; }

.overlay-menu {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 5rem 0 0;
	opacity: 0;
	list-style: none;
	background: rgba(0,0,0, 0.5);
	text-align: center;
	transform: translateX(-100%) rotateX(40deg);
	transition: all 1s cubic-bezier(1, -0.4, 0.44, 0.985); }
.overlay-menu li {
	font-size: 1.5rem; }
.overlay-menu span {
	cursor: pointer;
	display: block;
	color: #fff;
	font-weight: bold;
	height: 6.25rem;
	line-height: 6.25rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	text-decoration: none; }
.overlay-menu a:hover {
	background-color: #0f88ff; }
.overlay-menu.is-open ~ .toggle-menu {
	display: inline-block;
	transition: all 0.4s ease-in-out;
	transform: rotate(135deg);
	color: red; }

.is-open {
	top: 0;
	opacity: 1;
	transform: perspective(200px) translateX(0) rotateX(0); }



/********************************************************************
HERO SECTION
********************************************************************/
.hero {
	background: url("../img/landing.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh; }	
.landing-text h1:nth-child(1), .landing-text h1:nth-child(2), .landing-text h5{
	opacity : 1;
	-ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Safari */
    transform: translate(0, 0);
}
.landing-text h1:nth-child(1){
	transition: all 1s cubic-bezier(0, 0.01, 0, 0.96);
}
.landing-text h1:nth-child(2){
	transition: all 2.5s cubic-bezier(0, 0.01, 0, 0.96);
}
.landing-text h5{
	transition: all 4s cubic-bezier(0, 0.01, 0, 0.96);
}
.slide-in-text h1:nth-child(1){
	opacity : 0;
	-ms-transform: translate(120%, 0); /* IE 9 */
    -webkit-transform: translate(120%, 0); /* Safari */
    transform: translate(120%, 0);
}
.slide-in-text h1:nth-child(2) {
	opacity : 0;
	-ms-transform: translate(140%, 0); /* IE 9 */
    -webkit-transform: translate(140%, 0); /* Safari */
    transform: translate(120%, 0);
}
.slide-in-text h5 {
	opacity : 0;
	-ms-transform: translate(160%, 0); /* IE 9 */
    -webkit-transform: translate(160%, 0); /* Safari */
    transform: translate(500%, 0);
}
/* For mobile */
@media (max-width: 640px) {
	.hero:before {
		content: "";
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -10;
		background: url("../img/mobile/landing.jpg") no-repeat center center;
		background-size: cover;
	}
	.hero {
		background: transparent;
		background-size: auto;
	}
	.landing-text{
		margin-top: 80%;
	}
}
/********************************************************************
*********************************************************************
MAIN CONTENT SECTION
*********************************************************************
********************************************************************/

/********************************************************************
PORTFOLIO
********************************************************************/
.bg-img1{
	background: url("../img/bg-img.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.bg-img2{
	background: url("../img/bg-img.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.bg-img3{
	background: url("../img/bg-img.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@media (max-width: 640px) {
	.bg-img1{
		background: url("../img/bg-img1.jpg") no-repeat center center;
		background-size: cover;
	}
	.bg-img2{
		background: url("../img/bg-img2.jpg") no-repeat center center;
		background-size: cover;
	}
	.bg-img3{
		background: url("../img/bg-img3.jpg") no-repeat center center;
		background-size: cover;
	}
}
.dummy-bg1{
	background: url("../img/dummy1.jpg") no-repeat;
	background-size: cover;
}
.dummy-bg2{
	background: url("../img/dummy2.jpg") no-repeat;
	background-size: cover;
}
.dummy-bg3{
	background: url("../img/dummy3.png") no-repeat;
	background-size: cover;
}
.panel{
	height: 100%;
	overflow: hidden;
}
.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	opacity: 0;
}
/************************************************************/

figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

figure.effect-bubba:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1.2);
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p{
	padding: 10px 1.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/***************************************/

figure.effect-bubba a {
	margin: 0 10px;
	color: #ffffff;
	font-size: 170%;
}

figure.effect-bubba a:hover,
figure.effect-bubba a:focus {
	color: #cc6055;
}

figure.effect-bubba p a i {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}
figure.effect-bubba:hover p i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-bubba:hover p a:nth-child(3) i {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-bubba:hover p a:nth-child(2) i {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-bubba:hover p a:first-child i {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
@media (max-width: 640px) {
	
}

/********************************************************************
SKILLS
********************************************************************/
.pie_progress {
  width: 100px;
  margin: 0px auto;
}
.pie_progress__number {
	font-size: 1em;
	font-weight: 700;
	color : #fff;
}
@media (max-width: 400px) {
	.pie_progress {
		width: 25vw;
    	margin: 10px auto;
	}
	.pie_progress__number {
	    font-size: inherit;
	}
}

/********************************************************************
ABOUT
********************************************************************/
/***********************Manipulating existing classes***************/
.accordion{
	border-bottom : 1px solid #000;
	background: transparent;
}
.accordion-title{
	padding: 10px;
	border: none;
    border-radius: 0px;
    border-top: 1px solid #000;
    border-bottom: 0px solid #000;
    color: #000;
}
.is-active > a.accordion-title{
	border: none;
    border-radius: 0px;
    border-top: 2px solid #ff0000;
    border-bottom: 0px solid #000;
    color: #ff0000;
}
.accordion-item:first-child > :first-child{
	border-radius: 0px;
}
:last-child:not(.is-active) > .accordion-title{
	border-radius: 0px;
    border-bottom: 0px;
}
.accordion-title:hover{
	background: none;
}
.accordion-content{
	border:none;
	padding: 0;
	background: transparent;
}
/********************************************************************/
.accordion-content table,.accordion-content table> tbody,.accordion-content table> tbody > tr,.accordion-content table> tbody > tr > td {
	background: #fff;
	border: 0px;
}
.about-section-img{
	background: url("../img/imac-ipad-iphone.png") no-repeat center center;
	background-size: contain;
}





/********************************************************************
TIMELINE
********************************************************************/
.verticle-line{
	width: 5px;
	background: #fff;
	height: 100%;
}
.timeline-box-left{
	width: auto;
	border: 2px solid #fff;
	padding: 0.5em;
}
.timeline-img{
	width:auto;
	height: 100px;
	background: #000;
}











/********************************************************************
GENERAL
********************************************************************/