/********************************************************************
GENERAL
********************************************************************/
/***********************Applying google fonts***********************/
body{
	font-family: 'Raleway', sans-serif;
	color: #fff;
}
h1, h2, h3, h4, h5{
	font-family: 'Fjalla One', sans-serif;
}
h1{
	color: #fff;
}
small{
	font-family: 'Raleway', sans-serif;
}
p{
	font-size: 1.3em;
    line-height: 1.3em;
}
textarea {
    box-sizing: border-box;
    resize: none;
}
@media (max-width: 640px){
	p{
		font-size: inherit;
		line-height: 1.6;
	}
}
/***********************Overwriting classes*************************/
.column, .columns{
	overflow: hidden;
}
a:hover, a:focus{
	text-decoration: none;
	color: #000;
}
.button{
	border-radius: 0px;
	border : 2px solid rgba(255,255,255,0.7);
	background: transparent;
	color : rgba(255,255,255,0.7);
}
.button:hover, .button:active{
	background: black;
	border : 2px solid #000;
	color : #fff;
}
.button-active{
	background: black;
	border : 2px solid #000;
	color : #fff;
}
.tabs{
	background: transparent;
	border: 0px solid;
}
.tabs-title{
	float: none;
}
.tabs-title > a {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 0px;
    padding: 0.85em 1em;
    margin: 0 0 1rem 0;
    font-size: 0.9rem;
    background: rgba(0, 0, 0, 0);
    color: rgba(255,255,255,0.7);
}
@media (max-width: 640px){
	.tabs-title > a{
		font-size: 0.75rem;
	}
}
.tabs-title > a:hover, .tabs-title > a:focus, .tabs-title > a[aria-selected='true']{
    background: #000;
    border: 2px solid #000;
    color: #fff;
}
.tabs-content {
    background: transparent;
    transition: all 0.5s ease;
    border: 0px solid;
    border-top: 0;
}
.tabs-panel{
	padding: 0;
}
@media (min-width:768px) {
	.row{
		max-width: 80vw;
	}
}
/*******************************************************************/
html, body{
	padding: 0;
	margin: 0;
	background: #282f35;
}
.hide {
	display: none;
}
.hr-light{
	border-bottom: 2px solid #ffffff;
}
.wrapper{
	/*overflow-x : hidden;*/
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.fullHeight {
	height: 100vh;
}
.halfHeight {
	height: 50vh;
}
.minHeight {
	min-height: auto;
}
@media (max-height: 640px){
	.minHeight {
		min-height: 100vh;
	}
}
.bg-light{
	background: #6bd7ca;
}
.bg-dark{
	background: #282f35;
}
.font-light{
	color: #6bd7ca;
}
.font-dark{
	color: #282f35;
}
.row-padding{
	height: auto;
	padding-top: 4%;
	padding-bottom: 4%;
}
.column-padding{
	padding: 2px;
}
.text-bordered{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.display-inline{
	display: inline-flex;
}
/********************************************************************
NAV
********************************************************************/
.navigation{
	position: fixed;
	background: #fff;
	z-index: 10;
	display: none;
}
.navigation .menu > .menu-text{
	color: #282f35;
}
.navigation .menu > li > a{
	color: #6bd7ca;
}
.navigation .menu > li > a:hover, a:focus{
	color: #282f35;
}
.navigation .menu > li.is-dropdown-submenu-parent > a::after {
	display: none;
}
.navigation .menu > li.opens-right > .is-dropdown-submenu {
	width: 100vw;
}
.navigation .menu-text > a{
	padding: 0;
}
.background{
	display: block;
}

/********************************************************************
HERO SECTION
********************************************************************/
.hero {
	height: 100vh; 
}
.hero .row {
	max-width: 100vw;
}
.hero .row> .column{
	height: 100%;
}
.hero .row> .column:nth-child(1){
	padding: 0;
}
.hero .hero-content{
	position: absolute;
	top:0;
	z-index: 2;
	margin: 0;
	padding: 0;
}
.hero .hero-content> .column{
	height: 100%;
}
.hero-img-flexslider div{
	width: 100%;
	height: 100vh;
}

.landing-text{
	background: rgba(0,0,0,0.4);
}
.landing-text h1:nth-child(1), .landing-text h1:nth-child(2), .landing-text h5{
	opacity : 1;
	-ms-transform: translate(0, 0); /* IE 9 */
    -webkit-transform: translate(0, 0); /* Safari */
    transform: translate(0, 0);
}
.landing-text h1:nth-child(1){
	transition: all 1s cubic-bezier(0, 0.01, 0, 0.96);
}
.landing-text h1:nth-child(2){
	transition: all 2.5s cubic-bezier(0, 0.01, 0, 0.96);
}
.landing-text h5{
	transition: all 4s cubic-bezier(0, 0.01, 0, 0.96);
}
.slide-in-text h1:nth-child(1){
	opacity : 0;
	-ms-transform: translate(-120%, 0); /* IE 9 */
    -webkit-transform: translate(-120%, 0); /* Safari */
    transform: translate(-120%, 0);
}
.slide-in-text h1:nth-child(2) {
	opacity : 0;
	-ms-transform: translate(-140%, 0); /* IE 9 */
    -webkit-transform: translate(-140%, 0); /* Safari */
    transform: translate(-120%, 0);
}
.slide-in-text h5 {
	opacity : 0;
	-ms-transform: translate(-160%, 0); /* IE 9 */
    -webkit-transform: translate(-160%, 0); /* Safari */
    transform: translate(-500%, 0);
}
/* For mobile */
@media (max-width: 639px) {
	.hero {
		background: transparent;
		background-size: auto;
	}
	.hero .hero-content{
		height: auto !important;
		top: 40%;
	}
	.hero .hero-content> .column{
	}
}

/********************************************************************
PORTFOLIO
********************************************************************/

.portfolio .portfolio-content> .column{
	padding: 5px;
}

.portfolio hr{
	border-bottom: 2px solid rgba(255,255,255,0.3);
	max-width: 100%;
}
.portfolio img{
	display: table;
	margin: 0 auto;
}
.portfolio .label{
	margin-right: 5px;
}
@media (max-width: 640px){
	.portfolio hr{
		margin : 0px;
	}
}
/********************************************************************
SKILLS
********************************************************************/
/***********************Manipulating existing classes***************/
.skills-flexslider{
	background: transparent;
	border: 0px;
	margin: 0px;
}
.flex-control-nav .flex-active {
  background: #ccc;
  color: #000;
}
.pie_progress {
	width: 150px;
	margin: 0px auto;
}
.pie_progress__number {
	font-size: 1em;
	font-weight: 700;
	color : #fff;
}
@media (max-width: 640px) {
	.pie_progress {
		width: 25vw;
    	margin: 10px auto;
	}
	.pie_progress__number {
	    font-size: inherit;
	}
}

/********************************************************************
ABOUT
********************************************************************/
/***********************Manipulating existing classes***************/
.about .accordion{
	border-bottom : 1px solid #000;
	background: transparent;
}
.about .accordion-title{
	padding: 10px;
	border: none;
    border-radius: 0px;
    border-top: 1px solid #000;
    border-bottom: 0px solid #000;
    color: #b3e0db;
}
.about .is-active > a.accordion-title{
	border: none;
    border-radius: 0px;
    border-top: 2px solid #6bd7ca;
    border-bottom: 0px solid #000;
    color: #6bd7ca;
}
.about .accordion-item:first-child > :first-child{
	border-radius: 0px;
}
.about :last-child:not(.is-active) > .accordion-title{
	border-radius: 0px;
    border-bottom: 0px;
}
.about .accordion-title:hover{
	background: none;
}
.about .accordion-content{
	border:none;
	padding: 0;
	background: transparent;
	color: #b3e0db;
}
/****************************************************************/
.about .accordion-content> table,.about .accordion-content> table> tbody,.about .accordion-content> table> tbody > tr,.about .accordion-content> table> tbody > tr > td {
	background: transparent;
	border: 0px;
}
.about :last-child > .accordion-content:last-child{
	border-bottom: 1px solid #282f35;
}
.about .about-section-img{
	background: url("../img/imac-ipad-iphone.png") no-repeat center center;
	background-size: contain;
}
.about-flexslider img{
	width: 60%;
	margin-left: 20%;
}
/********************************************************************
TIMELINE
********************************************************************/
.timeline-col-left{
	border-right: 2px solid #6bd7ca;
	overflow: visible;
	padding: 0 20px 0 0;
}
.timeline-col-right{
	border-left: 2px solid #6bd7ca;
	overflow: visible;
	padding: 0 0 0 20px;
}
.timeline-box {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	background: url("") no-repeat center center;
	background-size: cover;
	width: 100%;
	max-width: 400px;
	height: auto;
	overflow: visible;
}
.arrow {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 100%;
}
.arrow:before, .arrow:after{
	content: '';
	position: absolute;
	height: 50%;
	width: 100%;
	box-sizing: border-box;
}
.timeline-content p{
	padding: 2px;
	background: rgba(107, 215, 202, 0.2);
	margin-bottom: 2px;
}
.pointer{
	position: absolute;
    height: 30px;
    width: 30px;
    border: 5px solid rgba(255,255,255,0.5);
    background: #6bd7ca;
    border-radius: 15px;
}
/******Right timeline box******/
.timeline-col-right .timeline-box{
	float: left;
}
.timeline-col-right .timeline-content{
	padding: 5px 10px 5px 30px;
}
.timeline-col-right .arrow:before,.timeline-col-right  .arrow:after {
	left: 0;
}
.timeline-col-right .arrow:before {
	border-left: 20px solid rgba(0,0,0,0.5);
	border-bottom: 20px solid transparent;
}
.timeline-col-right .arrow:after {
	top: 50%;
	border-left: 20px solid rgba(0,0,0,0.5);
	border-top: 20px solid transparent;
}
.timeline-col-right .pointer{
	top: 43%;
    left: -37px;
}
/******Left timeline box******/
.timeline-col-left .timeline-box{
	float: right;
}
.timeline-col-left .timeline-content{
	padding: 5px 30px 5px 10px;
}
.timeline-col-left .arrow{
	right: 0;
}
.timeline-col-left .arrow:before,.timeline-col-left  .arrow:after {
	right: 0;
}
.timeline-col-left .arrow:before {
	border-right: 20px solid rgba(0,0,0,0.5);
	border-bottom: 20px solid transparent;
}
.timeline-col-left .arrow:after {
	top: 50%;
	border-right: 20px solid rgba(0,0,0,0.5);
	border-top: 20px solid transparent;
}
.timeline-col-left .pointer{
	top: 43%;
    right: -37px;
}
/******For mobile******/
@media (max-width: 639px) {
	.section-experience{
		padding-left: 10px;
	}
	.year{
		margin-left: -15px;
	}
	.timeline-box{
		margin-bottom: 10px;
	}
	.pointer {
	    height: 15px;
	    width: 15px;
	    border: 3px solid rgba(255,255,255,0.5);
	    border-radius: 10px;
	}
	.timeline-col-left{
		border-right: 0px solid #6bd7ca;
		border-left: 1px solid #6bd7ca;
		overflow: visible;
		padding: 0 0 0 10px;
	}
	.timeline-col-right{
		border-right: 0px solid #6bd7ca;
		border-left: 1px solid #6bd7ca;
		overflow: visible;
		padding: 0 0 0 10px;
	}
	.timeline-col-left .timeline-box{
		float: left;
	}
	.timeline-col-left .timeline-content{
		padding: 0px 10px 0px 15px;
	}
	.timeline-col-right .timeline-content{
		padding: 0px 10px 0px 15px;
	}
	.timeline-col-left .arrow{
		left: 0;
	}
	.timeline-col-left .arrow:before,.timeline-col-left  .arrow:after {
		left: 0;
	}
	.timeline-col-left .arrow:before {
		border-right: 0px solid rgba(0,0,0,0.5);
	    border-left: 10px solid rgba(0,0,0,0.5);
	    border-bottom: 10px solid rgba(0, 0, 0, 0);
	}
	.timeline-col-left .arrow:after {
		top: 50%;
		border-right: 0px solid rgba(0,0,0,0.5);
		border-left: 10px solid rgba(0,0,0,0.5);
		border-top: 10px solid transparent;
	}
	.timeline-col-right .arrow:before {
		border-left: 10px solid rgba(0,0,0,0.5);
		border-bottom: 10px solid transparent;
	}
	.timeline-col-right .arrow:after {
		top: 50%;
		border-left: 10px solid rgba(0,0,0,0.5);
		border-top: 10px solid transparent;
	}
	.timeline-col-left .pointer {
	    top: 46%;
	    left: -18px;
	}
	.timeline-col-right .pointer {
		top: 46%;
	    left: -18px;
	}
}

/********************************************************************
SERVICES
********************************************************************/
.services img{
	max-width: 200px;
	
}
/********************************************************************
CONTACT
********************************************************************/
.contact textarea{
	min-height: 20vh;
}
.contact img{
	max-width: 50px;
}
/********************************************************************
FOOTER
********************************************************************/
.footer ul{
	list-style: none !important;
}
.footer h5{
	display: inline;
}
.footer a{
	color: #fff;
}
.footer a:hover, .footer a:focus{
	color: #6bd7ca;
}

/*******************************************************************/
/********************************************************************
CONTROL BOARD EDIT PAGE
********************************************************************/
/*******************************************************************/
/********************************************************************
DASHBOARD NAV
********************************************************************/
.dashboard-wrapper .navigation{
	position: relative;
	background: #fff;
	display: block;
}
/********************************************************************
DASHBOARD LANDING
********************************************************************/
.dashboard-landing img{
	
}